*{
    background-color:#2f2fa2;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    margin-left: 0.5%;
    margin-right: 0.5%;

    scroll-behavior: smooth;
}

#header{
    float: left;
    width: fit-content;

    color: white;
    font-size: 24px;
    font-family: cursive;
}

#header-nav{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    position: relative;
}

#header-nav a{
    float: left;
    text-align: center;
    padding: 12px 14px;
    font-size: 16px;
    font-weight: bold;
}

#header-nav a:hover{
    color: #f64c72;
}

ul li{
    display: inline-block;
    list-style: none;
}


a{
    text-decoration: none;
    color: white  ;
    background-color: transparent;
}
a:hover{
    transition: .4s;
    color: #f64c72;
}

.heading{
    text-decoration: underline;
    font-family: cursive;
    text-align: center;
}

#btn{
    text-align: center;
    height: auto;
    width: max-content;
    border: 1px solid #f64c72;
    border-radius: 4px;
    font-weight: bold;
    transition: .4s;
    box-shadow: 0 1px 2px 0 rgb(0,0,0,0.26);
}

#btn:hover{
    transition: .4s;
    box-shadow: 0 4px 12px 0 rgb(0,0,0,0.26);
    color: white;
    background-color: #f64c72;
    cursor: pointer;
}

#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: #f64c72;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgb(0,0,0,0.26);
    text-align: center;
}

.arrow-up{
    border: solid white;
    border-width:  0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;

    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


input,select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: start;
}

#contact{
    display: none;
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    padding: 20px;
}

.fa{
    padding: 20px;
    border-radius: 50%;
    transition: .4s;
    box-shadow: 0 4px 6px 0 rgb(0,0,0,0.26);
}

.fa:hover{
    color: white;
    transition: .4s;
    opacity: 0.8;
}

#social-link{
    text-align: center;
    padding: 10px;
}

#footer{
    text-align: center;
}